.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 18px 35px 0;
    margin: 0 auto;
}
.header-nav {
    background: #90909060;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    
}
.header-nav-items {
    display: flex;
    gap: 25px;
    padding: 0 17px;
    align-items: center;
}
.menu-item {
    margin: 8px 0;
}
.menu-link {
    color: #B0B0B0;
    font-size: 14px;
    line-height: 18.5px;
    &:hover {
        transition: all .5s ease-in-out;
        color: $red;
    }
}
.header-number {
    background: #676767;
    border: 1px solid #9D9D9D;
    border-radius: 10px;
}
.header-number__link {
    color: #fff;
    padding: 7px 30px;
    font-size: 14px;
    line-height: 20px;
    display: block;
    &:hover {
        transition: all .5s ease-in-out;
        color: $red;
    }
}

.header__inner-mobile {
    display: none;
    justify-content: space-between;
    padding: 12px 18px;
    background: #676767;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 20;
}
.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin: 0 auto;
    
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #fff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    gap: 12px;
    padding: 42px 0;
    margin: 52px 0 0 0;
    background: rgba(0, 0, 0, 0.9);
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
  }
  .menu-item-mobile {
    display: block;
    padding: 8px;
    color: white;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item-mobile:hover {
    color: $red;
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }