@media (max-width: 1100px) {
    .block-possibility__wrap-item__title {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    
}