.title {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    color: #000;
    padding-top: 100px;
}
.standart-desc {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2px;
    color: #000;
    margin: 22px 0 52px;

}
.block-install__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 34px;

    &-left {
        width: 55%;
        background: $red;
        border-radius: 15px;
        padding: 45px 24px 0 50px;
        height: 350px;
    }

    &-right {
        border-radius: 15px;
        overflow: hidden;

    }
}
.install__item-left__title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    color: $grey;
    margin-bottom: 37px;
    width: 90%;
}
.install__item-left__des {
    font-size: 20px;
    line-height: 23px;
    color: $grey;
}
.install__item_right-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.process-gallery__title {
    margin-bottom: 50px;
}
.process-gallery__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-column {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 33%;

        & img {
            border-radius: 15px;
        }
    }
}
.sim-card {
    padding-bottom: 100px;

    &-items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 34px;
        justify-content: space-between;
    }
    &-item {
        background: $red;
        border-radius: 20px;
        padding: 33px 45px 0 25px;
        width: 31%;
        height: 370px;

        &__title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -1px;
            color: $grey;
            margin-bottom: 30px;
            width: 90%;
        }
        &__des {
            font-size: 18px;
            line-height: 23px;
            color: $grey;
        }

        &-white {
            background: #EEEEEE;
            border-radius: 20px;
            padding: 33px 45px 0 25px;
            width: 31%;
            height: 370px;

            &__title {
                color: #000;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -1px;
                margin-bottom: 30px;
                width: 90%;
            }
            &__des {
                color: #000;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}
.block-possibility {
    background: #E4E3E3;
    padding-bottom: 100px;

    &__inner__des {
        font-size: 27px;
    }
}
.block-possibility__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 34px;

    &-item {
        width: calc(100 / 8 - 16);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__title {
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 14px;
            padding: 3px 0;
        }

        &__img {
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
}