.title {
    font-size: 72px;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    color: #000;
    padding-top: 100px;
}
.standart-desc {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -2px;
    color: #000;
    margin: 22px 0 52px;

}
.block-install__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 34px;

    &-left {
        width: 55%;
        background: $red;
        border-radius: 15px;
        padding: 45px 24px 0 50px;
        height: 350px;
    }

    &-right {
        border-radius: 15px;
        overflow: hidden;

    }
}
.install__item-left__title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    color: $grey;
    margin-bottom: 37px;
    width: 90%;
}
.install__item-left__des {
    font-size: 20px;
    line-height: 23px;
    color: $grey;
}
.install__item_right-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.process-gallery__title {
    margin-bottom: 50px;
}
.process-gallery__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-column {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 33%;

        & img {
            border-radius: 15px;
        }
    }
}
.sim-card {
    padding-bottom: 100px;

    &-items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 34px;
        justify-content: space-between;
    }
    &-item {
        background: $red;
        border-radius: 20px;
        padding: 33px 45px 0 25px;
        width: 31%;
        height: 370px;

        &__title {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: -1px;
            color: $grey;
            margin-bottom: 30px;
            width: 90%;
        }
        &__des {
            font-size: 18px;
            line-height: 23px;
            color: $grey;
        }

        &-white {
            background: #EEEEEE;
            border-radius: 20px;
            padding: 33px 45px 0 25px;
            width: 31%;
            height: 370px;

            &__title {
                color: #000;
                font-size: 30px;
                line-height: 36px;
                letter-spacing: -1px;
                margin-bottom: 30px;
                width: 90%;
            }
            &__des {
                color: #000;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
}
.block-possibility {
    background: #E4E3E3;
    padding-bottom: 100px;

    &__inner__des {
        font-size: 27px;
    }
}
.block-possibility__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 34px;

    &-item {
        width: calc(100% / 8 - 12px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__title {
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin-bottom: 14px;
            padding: 3px 0;
        }

        &__img {
            border-radius: 16px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }
}
.block-expert__wrap {
    display: flex;
    justify-content: space-between;
    gap: 34px;

    &-item {
        width: calc(50% - 17px);
        padding: 34px;
        background: #EEEEEE;
        border-radius: 20px;

        &__img {
            border-radius: 20px;
            width: 100%;
        }

        &__title {
            font-size: 34px;
            line-height: 36px;
            margin: 48px 0 42px;
            height: 50px;
        }

        &__des {
            font-size: 23px;
            line-height: 27px;
        }
    }
}
.service {
    padding-bottom: 100px;
}
.service-table {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 35px;

    & div {
        border: 1px solid #000;
        border-radius: 10px;
    }
    &-short-name {
        color: $red;
        padding: 12px 24px;
        font-size: 23px;
        line-height: 18px;
        width: 33%;
    }
    &-long-name {
        color: $red;
        padding: 12px 24px;
        font-size: 23px;
        line-height: 18px;
        width: 66%;
    }
    &-short {
        padding: 0 24px;
        font-size: 24px;
        line-height: 28px;
        width: 33%;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    &-long {
        padding: 0 24px;
        font-size: 20px;
        line-height: 23px;
        width: 66%;
        height: 155px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & ul li {
            list-style: disc;
            margin: 0 24px 0;
        }
    }

    &-small {
        margin-bottom: 0;
        & div {
            height: 100px;
        }
    }
}
.reviews {
    background: #E4E3E3;
    padding-bottom: 100px;

    &__inner-wrap {
        display: flex;
        justify-content: space-between;
        gap: 35px;


        &-item {
            width: 50%;
            display: flex;
            justify-content: space-between;
            gap: 35px;
            

            &-left {
                border-radius: 15px;
                background: #fff;
                padding: 23px 13px;
                width: 50%;

                &__title {
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 75px;
                    height: 70px;
                }
                &__des {
                    font-size: 17px;
                    line-height: 20px;
                }
            }
            &-right {
                border-radius: 15px;
                width: 50%;
                overflow: hidden;
                & img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &:last-child {
            margin-top: 35px;
        }
    }
}
.block-form {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 50%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }
    }
    &__right {
        padding: 50px;
        width: 50%;
        &-title {
            font-size: 35px;
            line-height: 39px;
            letter-spacing: -1.25px;
            margin-bottom: 33px;
        }
        &-des {
            font-size: 20px;
            line-height: 21px;
        }
    }
}